<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://aws-instance1.cxxw5ralqbyf.us-west-2.rds.amazonaws.com:3306/newsblock</property>
		<property name="connection.username">admin</property>
		<property name="connection.password">rgukt123</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="show_sql">false</property>


		<mapping class="com.newsblock.model.Articles" />
		<mapping class="com.newsblock.model.ArticletoCategory" />
		<mapping class="com.newsblock.model.Categories" />
		<mapping class="com.newsblock.model.ConfigProperties" />
		<mapping class="com.newsblock.model.UserLogins" />
	</session-factory>
</hibernate-configuration>  
